* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

/*
color
orange : white
bleu foncé : #264653

*/
body {
    background : black;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {


    background-color:white;
}
::-webkit-scrollbar-thumb {
    background-color:#223b46;
}

/*mixin*/

@mixin center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center {
    display: flex;
    justify-content: center;
}

@mixin optionjs {
    background-color: black;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*header*/

header {
    width: 100%;
    z-index: 1000;
    nav {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: #264653;
        padding: 10px;
        box-shadow: 0px 3px rgb(49, 49, 49);
        .logo_a {
            @include center-center;
            position: absolute;
            left: 10px;
            .logo {
                @include center-center;
                width: 50px;
                height: 50px;
                font-size: 30px;
                color: white;
                background: {
                    color: black;
                }
                border-radius: 50%;
            }
        }
        .buttonswitch {
            @include center-center;
            @include optionjs;
            margin: 10px 20px 10px 10px;
            svg {
                width: 30px;
                height: 30px;
                filter: grayscale(1) invert(1);
                transition: all 0.2s;
            }
            transition: all 0.5s;
        }
        .buttonswitch:hover {
            background-color: white;
            transition: all 0.5s;
            svg {
                width: 25px;
                height: 25px;
                transition: all 0.2s;
            }
        }
        .buttonswitch:active {
            background-color: #264653;
        }
        .dark {
            @include optionjs;
            @include center-center;
            svg {
                width: 30px;
                height: 30px;
                filter: grayscale(1) invert(1);
                transition: all 0.2s;
            }
        }
        .dark:hover {
            background-color: white;
            transition: all 0.5s;
            svg {
                width: 25px;
                height: 25px;
                transition: all 0.2s;
            }
        }

        ul{
            display: flex;
            justify-content: center;
            width: 300px;
            height: auto;
            padding: 10px;
            a {
                margin: auto 10px;
                border-radius: 50%;
                height: auto;
                border: 3px solid #264653;
                li {
                    display: flex;
                    justify-content: space-between;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: #FFF;
                }
                .facebook {
                    background: {
                        image: url(../utils/img/facebook.png);
                        size: cover;
                    }
                }
                .insta {
                    background: {
                        image: url(../utils/img/instagram.png);
                        size: cover;
                    }
                }
                .linkdin {
                    background: {
                        image: url(../utils/img/linkdin.png);
                        size: cover;
                    }
                }
                .email {
                    background: {
                        image: url(../utils/img/email.png);
                        size: cover;
                    }
                }
            }
            a:hover{
                border: 3px solid black;
            }
        }
        
    }
    .telephone {
        @include center-center;
        width: 150px;
        height: auto;
        background-color: black;
        color: #FFF;
        padding: 10px 0;
        margin: 10px;
        border-radius: 20px;
        border: 2px solid #264653;
        transition: background-color 0.5s, color 0.4s;
    }
    .telephone:hover {
        background-color: white;
        color: black;
        transition: background-color 0.5s, color 0.4s;
    }
}

/*main*/

main {
    height: 900px;
    padding-top: 100px;
    background : black;
    margin: auto 5%;
    .title {
        font-size: 30px;
        width: 70%;
        text-align: center;
        background-color: #264653;
        margin: 20px auto;
        padding: 20px;
        border-radius: 30px;
        color: white;
        text-shadow: 2px 2px black;
        box-shadow: 4px 4px rgb(49, 49, 49);
        transition: all 0.2s;
    }
    .title:hover {
        box-shadow: 7px 7px 1px rgb(49, 49, 49);
        text-shadow: 2px 2px rgb(34, 34, 34);
        transition: all 0.2s;
    }
    
    .conteneur {
        .avantages {
            width: 50%;
            float: left;
            height: auto;
            ul {
                margin: auto 10%;
                li {
                    color: white;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 300px;
                    height: 100px;
                    background-color: #264653;
                    margin: 10px 0;
                    border-radius: 30px;
                    box-shadow: 4px 4px rgb(49, 49, 49);
                    transition: all 1s;
                    svg {
                        width: 50px;
                        height: 50px;
                        filter: grayscale(1) invert(1);
                    }
                    p {
                        display: none;
                        color: white;
                        padding: 20px;
                        background-color: rgba(0, 0, 0, 0.452);
                        margin: 10px;
                        border-radius: 20px;
                        max-height: 100px;
                        transition: none;
                        font-size: 15px;
                    }
            
                }
                li:hover {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    height: 150px;
                    padding: 10px;
                    background-color: #223b46;
                    transition: all 0.5s;
                    svg {
                    width: 0px;
                    height: 0px;
                    transition: all 0.5s;
                    }
                    p {
                        display: block;
                    }
                }
            }
        }
        
        form {
    
            flex-direction: column;
            width: 40%;
            min-width: 500px;
            background-color: #264653;
            float: right;
            height: auto;
            border-radius: 30px;
            padding: 20px;
            box-shadow: 4px 4px rgb(49, 49, 49);
            transition: all 0.2s;
            label {
                white-space: nowrap;
                color: white;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
                margin: 10px;
            }
            .firstname {
                width: 50%;
                float: left;
                height: auto;
                padding: 0 35px 0 35px;
            }
            .lastname {
                width: 50%;
                float: right;
                height: auto;
                padding: 0 35px 0 35px;
            }
            .column {
                margin-top: 50px;
                padding: 0 30px 0 30px;

                div {
                    display: flex;
                    flex-direction: column;
                    margin: 10px auto;
                    padding: 5px;
                    background-color: #264653;
                    input {
                        width: 100%;
                    }
                    textarea {
                        height: 100px;
                    }
                }
                #submit {
                    @include center-center;
                }
            }
            input {
                border-radius: 20px;
                padding: 10px;
                border: none;
            }
            textarea {
                border-radius: 20px;
                padding: 20px;
            }
        }
        form:hover{
            box-shadow: 7px 7px 1px rgb(49, 49, 49);
            transition: all 0.2s;
        }
        .rights {
            float: right !important;
            transition: all 1s;
        }
        .lefts {
            float: left !important;
            transition: all 1s;
        }
    }
}

/*footer*/

/*mediaqueries*/

@media screen and (max-width: 600px ) {
    header {
        nav {
            ul {
                width: 250px;
                a {
                    margin: auto 5px;

                }
            }
        
        }

    }
}

@media screen and (max-width : 800px) {
    header {
        nav {
            .telephone {
                display: none;
            }
        }
    }
}

@media screen and(max-width : 1000px) {
    main {
        margin: none;
        .title {
            font-size: 20px;
        text-shadow: none;
        }
        .conteneur {
            flex-direction: column;
            .avantages {
                width: 100%;
                float: none;
                ul {
                    @include center-center;
                    flex-direction: column;
                    width: 60%;
                    li:hover {
                        flex-direction: column;
                        height: auto;
                        p {
                            font-size: 10px;
                        }
                    }
                }
            }
            form {
                width: 100%;
                
                float: none;
            }
            .lefts {
                float: none;
            }
            
            .rights {
                float: none;
            }
        }
    }
}